<%= form_with(model: @user, data: { turbo: false }) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="auth-form">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="auth-form">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="auth-form">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="auth-form">
    <%= f.label :password_confirmation, "Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="auth-form">
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
