<%= form_with(model: @post, data: { turbo: false }) do |f| %>
  <div class="auth-form">
    <%= f.text_field :title %>
  </div>

  <div class="auth-form">
    <%= f.text_area :body, cols: 20, rows: 40 %>
  </div>

  <div class="auth-form">
    <% if @post.published == true %>
      <%= f.submit 'Update' %>
    <% else %>
      <%= f.submit 'Publish', name: 'publish' %>
      <% if @post.id.nil? %>
        <%= f.submit 'Save as draft', name: 'save_as_draft' %>
      <% else %>
        <%= f.submit 'Update draft', name: 'update_draft' %>
      <% end %>
    <% end %>
  </div>
<% end %>

