<%= provide(:title, @post.title) %>

<div class="article">
  <h2><%= @post.title %></h2>
  <div class="article-header">
    <p>Created at: <%= formatted_date(@post.created_at, 'show') %><br>
    Latest updated at: <%= formatted_date(@post.updated_at, 'show') %></p>
  </div>

  <% if logged_in? && @post.user_id == current_user.id %>
    <div class='edit-post'>
      <%= link_to 'Edit', edit_post_path(@post) %>
    </div>
  <% end %>

  <div class="article-body">
    <%= markdown(@post.body) %>
  </div>
</div>
